<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="cCon" connectionString="Data Source=SQL5107.site4now.net;Initial Catalog=db_9c7990_consultoriodesimvc;User Id=db_9c7990_consultoriodesimvc_admin;Password=Ifbc121290.01" />
  </connectionStrings>
</configuration>